body {
  background-color: #282c34;
}

.App {
  text-align: center;
  color: aliceblue;
}

.header>h1 {
  margin-top: 100px;
  font-size: 80px;
}


/* HEADER */

.links {
  color: aliceblue;
  display: inline-flex;
  column-gap: 100px;
  font-size: 25px;
}

.links>a:link {
  color: aliceblue;
}

.links>a:visited {
  color: aliceblue;
}

.links>a:hover {
  color: blueviolet;
}


/* RESUME */

.resume {
  text-align: center;
  color: aliceblue;
}


@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

header {
  height: 100vh;
}

.container {
  /* hide fixed overflow contents */
  clip: rect(0, auto, auto, 0);

  /* does not work if overflow = visible */
  overflow: hidden;

  /* only works with absolute positioning */
  position: absolute;

  /* Make sure containers are full-width and height */
  height: 100vh;
  left: 0;
  width: 100%;


  /* safari hack */
  -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
}

.container_solid {
  /* background-image: url('./Images/yellow_stone_copy.JPG'); */

  /* position this container at the top of its parent element */
  top: 0;
}

.title_wrapper {
  position: fixed;
  display: block;
  margin: auto;
  width: 100%;
  /* center the text wrapper vertically */
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title_wrapper h1 {
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.button_arrow {
  align-items: center;
  /* display: grid; */
  /* grid-template-columns: auto; */
}

.button_arrow>button {
  width: fit-content;
}

.button_arrow>img {
  height: 50px;
}

.container_solid .title_wrapper>h1 {
  color: aliceblue;
}

.container_image {
  background-size: 100vw auto;
  background-position: center;
  background-attachment: fixed;
  top: 00vh;
}

.container_image .title_wrapper>h1 {
  color: white;
}

.section {
  text-align: center;
  height: 100vh;
  margin-top: -8%;
  margin-left: 4%;
  margin-right: 4%;
}

.section>h2 {
  font-family: 'Fraunces', serif;
}

.section p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.sections_h1 {
  font-size: 50px;
  padding-top: 2%;
  padding-bottom: 2%;
  text-decoration: underline;
}

/* Change skills margin-top to increase size of bottom */
.skills {
  margin-top: 30vh;
  background-color: wheat;
  color: #282c34;
  padding-bottom: 3%;

}

.skills .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 0;
  row-gap: 5px;
  margin-left: 35px;
}

.skills .grid-container .grid-item {
  font-size: 22px;
  text-align: left;
}

.projects {
  background-color: wheat;
  color: #282c34;
  padding-bottom: 3%;
}

.work_experience {
  background-color: wheat;
  color: #282c34;
  padding-bottom: 3%;
}

.education {
  background-color: wheat;
  color: #282c34;
  padding-bottom: 3%;
}

.text-align {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}


/* PROJECTS */

.projectContainer {
  text-align: left;
  margin-left: 15px;
}

.projectContainer .info {
  margin-left: 20px;
}


/* WORK EXPERIENCE */

.work_experience_container {
  text-align: left;
  margin-left: 15px;
}

.work_experience_container .description {
  margin-left: 20px;
}

.work_experience_container .top {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.work_experience_container>h4 {
  margin-left: 20px;
}


/* EDUCATION */

.education_container {
  display: flex;
  align-items: baseline;
  gap: 2%;
  margin-left: 15px;
}

.education_container>h2 {
  font-style: italic;
}


/* MAINTENCE_ALERT */

.maintenance_alert {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.maintenance_alert>h3 {
  margin-top: 10%;
}

.maintenance_alert>img {
  height: 500px;
  margin-bottom: 10%;
}


/* MEME GENERATOR */

/* HEADER */

.header_meme_generator {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 115px;
  padding: 20px;
  color: aliceblue;
  background: linear-gradient(45deg, rgb(138, 43, 226), rgb(138, 43, 226), red);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header_meme_generator>h1 {
  font-size: 3em;
  margin-right: auto;
}

.header_meme_generator>img {
  height: 75px;
  margin-right: 20px;
}

.header_meme_generator>h2 {
  font-weight: 500;
}

/* FORM */

.form_meme_generator>button {
  width: 84%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  height: 45px;
  background: linear-gradient(45deg, rgb(138, 43, 226), rgb(138, 43, 226), red);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: large;
  color: aliceblue;
  border-style: none;
}

.input-fields_meme_generator {
  display: flex;
  justify-content: center;
}

.input-fields_meme_generator>input {
  margin-top: 40px;
  align-items: center;
  width: 40%;
  height: 45px;
  border-radius: 5px;
  border-color: rgb(210, 210, 210);
  border-style: solid;
  border-width: 2px;
  font-size: large;
  text-align: center;
  font-weight: 100;
}

.input1_meme_generator {
  margin-right: 2%;
}

.input2_meme_generator {
  margin-left: 2%;
}

.meme {
  position: relative;
  text-align: center;
}

.meme_image {
  width: 84%;
  margin: auto;
  margin-top: 6%;
  display: flex;
}

.meme_image:hover {
  filter: brightness(50%);
}

.meme_text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}














.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header>h3 {
  margin-top: 10%;
}

.App-header>small {
  margin-bottom: 10%;
}

.App-header>img {
  height: 500px;
  margin-bottom: 10%;
}







@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */