body {
  background-color: #282c34;
}

.App {
  text-align: center;
  color: aliceblue;
}

.header>h1 {
  margin-top: 100px;
  font-size: 80px;
}


/* HEADER */

.links {
  color: aliceblue;
  display: inline-flex;
  column-gap: 100px;
  font-size: 25px;
}

.links>a:link {
  color: aliceblue;
}

.links>a:visited {
  color: aliceblue;
}

.links>a:hover {
  color: blueviolet;
}


/* RESUME */

.resume {
  text-align: center;
  color: aliceblue;
}


@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

header {
  height: 125vh;
}

.container {
  /* hide fixed overflow contents */
  clip: rect(0, auto, auto, 0);

  /* does not work if overflow = visible */
  overflow: hidden;

  /* only works with absolute positioning */
  position: absolute;

  /* Make sure containers are full-width and height */
  height: 100vh;
  left: 0;
  width: 100%;


  /* safari hack */
  -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
}

.container_solid {
  background-image: url('./Images/yellow_stone_copy.JPG');

  /* position this container at the top of its parent element */
  top: 0;
}

.title_wrapper {
  position: fixed;
  display: block;
  margin: auto;
  width: 100%;
  /* center the text wrapper vertically */
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title_wrapper h1 {
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.container_solid .title_wrapper h1 {
  color: aliceblue;

  /* the text background
  background: url(https://images.unsplash.com/photo-1575058752200-a9d6c0f41945?&q=85);
  background-size: 100vw auto;
  background-position: center; */

  /* clip the text is possible */
  /* text-fill-color: transparent; */
  /* -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text; */

  /* fallback text color */
  /* color: black; */
}

.container_image {
  /* Grab a free image from unsplash */
  background-image: url(./Images/yellow_stone_copy.JPG);
  background-size: 100vw auto;
  background-position: center;
  background-attachment: fixed;

  /* position the second container below the first container */
  top: 00vh;
}

.container_image .title_wrapper h1 {
  color: white;
}

.section {
  text-align: center;
  height: 100vh;
  margin-top: -8%;
  margin-left: 4%;
  margin-right: 4%;
}

.section h2 {
  font-family: 'Fraunces', serif;
}

.section p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* .section .left_column {
  background-color: wheat;
  width: 30%;
  margin-left: 3%;
  color: #282c34;
  text-align: center;
} */

.sections_h1 {
  font-size: 50px;
  padding-top: 2%;
  padding-bottom: 2%;
  text-decoration: underline;
}

.skills {
  background-color: wheat;
  color: #282c34;
}

.skills .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 0;
  row-gap: 5px;

}

.skills .grid-container .grid-item {
  font-size: 22px;
  text-align: left;
}

.projects {
  background-color: wheat;
  color: #282c34;
}

.work_experience {
  background-color: wheat;
  color: #282c34;
}

.education {
  background-color: wheat;
  color: #282c34;
}

.text-align {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.footer {
  color: aliceblue;
  display: inline-flex;
  column-gap: 100px;
  font-size: 25px;
}

.footer>a:link {
  color: aliceblue;
}

.footer>a:visited {
  color: aliceblue;
}

.footer>a:hover {
  color: blueviolet;
}


















.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header>h3 {
  margin-top: 10%;
}

.App-header>small {
  margin-bottom: 10%;
}

.App-header>img {
  height: 500px;
  margin-bottom: 10%;
}







@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */