body {
  background-color: #282c34;
}

.App {
  text-align: center;
  color: aliceblue;
}

.header>h1 {
  margin-top: 100px;
  font-size: 80px;
}


/* HEADER */

.links {
  color: aliceblue;
  display: inline-flex;
  column-gap: 100px;
  font-size: 25px;
}

.links>a:link {
  color: aliceblue;
}

.links>a:visited {
  color: aliceblue;
}

.links>a:hover {
  color: blueviolet;
}


/* RESUME */

.resume {
  text-align: center;
  color: aliceblue;
}

.resume-links {
  color: aliceblue;
  display: inline-flex;
  column-gap: 100px;
  font-size: 25px;
  text-align: center;
  margin-top: 2%;
}

.resume-links>a:link {
  color: aliceblue;
}

.resume-links>a:visited {
  color: aliceblue;
}

.resume-links>a:hover {
  color: blueviolet;
}





























.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header>h3 {
  margin-top: 10%;
}

.App-header>small {
  margin-bottom: 10%;
}

.App-header>img {
  height: 500px;
  margin-bottom: 10%;
}







@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */